body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.auth-container,
.dashboard {
  width: 350px;
  margin: 100px auto;
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}
input,
select,
button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  cursor: pointer;
}
.success {
  color: green;
  text-align: center;
}
